@media only screen and (min-width: 600px) {
  .facCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .prf {
    font-size: 20px;
    font-weight: bold;
    color: #e43530;
    padding: 10px 10px 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  }

  .secondCtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .leftImg {
  }

  .pic {
    /* width: 86%; */
    width: 98%;
    height: 56%;
    filter: blur(0);
    border-radius: 4px;
  }

  .rgtCtn {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 42%;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
      1px 2px 4px 0px rgba(91, 19, 42, 0.7),
      2px 4px 8px 0px rgba(91, 19, 42, 0.7),
      2px 4px 16px 0px rgba(91, 19, 42, 0.7);
  }

  .rightCtn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .pCtn {
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
  }

  .iconCtn {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .cpImg {
    width: 72%;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .facCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 20px;
    padding-bottom: 16px;
  }

  .prf {
    font-size: 20px;
    font-weight: bold;
    color: #e43530;
    padding: 10px 10px 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  }

  .secondCtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .leftImg {
  }

  .pic {
    /* width: 86%; */
    width: 98%;
    height: 56%;
    filter: blur(0);
    border-radius: 4px;
  }

  .rgtCtn {
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    text-align: left;
    /* width: 42%; */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    /* box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
            1px 2px 4px 0px rgba(0, 255, 255, 0.7),
            2px 4px 8px 0px rgba(0, 255, 255, 0.7),
            2px 4px 16px 0px rgba(0, 255, 255, 0.7); */
    padding: 10px;
    /*rgb(91,19,42)  */

    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
      1px 2px 4px 0px rgba(91, 19, 42, 0.7),
      2px 4px 8px 0px rgba(91, 19, 42, 0.7),
      2px 4px 16px 0px rgba(91, 19, 42, 0.7);
  }

  .rightCtn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .pCtn {
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
  }

  .iconCtn {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .cpImg {
    width: 72%;
    border-radius: 6px;
  }
}
