@media only screen and (min-width: 600px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .hrLine{
    margin-top: 4px;
    border: 1px solid #ddd;
  }

  .loader{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    }
  .loadImg {
    animation: rotate 1s linear infinite;
    width:22%;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .main {
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-attachment: local;
    padding-bottom: 20vh;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  .imgContainer img {
    width: 90%;
    border-radius: 8px;
    height: 66vh;
  }

  .headText {
    color: white;
    padding-top: 15vw;
    font-family: "CircularStd-Bold";
    font-size: 46px;
    text-align: left;
    padding-left: 2vw;
  }

  .rectangleForm {
    background-color: #fff;
    padding: 12px 30px;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 70%;
    margin: 34px;
    border-radius: 8px;
    box-shadow: 10px 10px grey;
    border: 2px solid #e6e6e6;
  }

  .enquiryText h2 {
    font-family: "CircularStd-Bold";
    font-size: 28px;
    text-align: left;
    color: #151718;
    white-space: nowrap;
    font-family: sans-serif;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .form {
    font-family: "CircularStd-Book";
    text-align: left;
    line-height: 1.2;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
  }

  .formGroup label {
    text-align: left;
    font-size: 16px;
    color: #151718;
    font-family: sans-serif;
  }

  .formGroup input::placeholder {
    font-family: sans-serif;
    padding-left: 10px;
  }

  .inputBox {
    margin-top: 4px;
    border: none;
    width: 100%;
    line-height: 2.4;
    outline: none;
    background-color: #ddd;
    box-shadow: none !important;
    padding: 0% !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    border-radius: 4px;
    border: 1px solid black;
  }

  ::placeholder {
    font-family: "CircularStd-Bold";
    font-size: 1sans-serif4px;
    text-align: left;
    color: #878787;
  }

  .requestCallButton {
    text-align: center;
  }

  .requestCallButton button {
    margin-top: 20px;
    padding: 1vh 5vh;
    background-color: #5a79f5;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
    border: 2px solid #fff;
  }

  .isInValid {
    border-bottom: 2px solid #e32228 !important;
  }

  .salesFanImg {
    width: 100%;
    position: relative;
  }

  .salesFanImg img {
    object-fit: contain;
    width: 100%;
  }

  .salesFanImg p {
    font-family: "CircularStd-Bold";
    font-size: 32px;
    line-height: 1.36;
    text-align: left;
    color: #fff;
    padding-left: 10vh;
    position: absolute;
    bottom: 10px;
    margin-bottom: 2vw;
  }

  .salesEnquiryProductContainer {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    padding: 2px;
    width: 100%;
    justify-content: space-evenly;
    padding: 0vh 8vh;
  }

  .energyEfficiencyImg {
    width: 16% !important;
    position: absolute;
    top: 2vw;
    left: 6vw;
  }

  .salesEnquiryProductImgContainer {
    position: relative;
    width: 40%;
  }

  .productImg img {
    width: 50%;
  }

  .productImg {
    width: 97%;
    padding: 32px 12px 24px 10px;
    background-color: #fff;
    align-items: center;
  }

  .viewAllMainContainer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .viewAllContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vh;
    padding-top: 8px;
  }

  .viewAllContainer p {
    color: #397ef5;
    font-family: CircularStd-Book;
    font-size: 18px;
    text-decoration: underline;
  }

  .viewAllContainer img {
    padding-left: 4px;
    height: 20px;
  }

  .orderDescriptionContainer {
    display: flex;
    flex-direction: column;
    background-color: #fde3ff;
    margin-top: 2vw;
    padding: 4vw 6px;
    align-items: center;
  }

  .orderHeadText {
    color: #151617;
    font-family: "CircularStd-Bold";
    font-size: 32px;
    line-height: 1.31;
    text-align: left;
    padding-left: 4vh;
  }

  .orderDescriptionText {
    font-family: "CircularStd-Book";
    font-size: 22px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #151718;
    padding: 3vw 6vw;
  }

  .imgProductName {
    text-align: left;
    font-family: "CircularStd-Bold";
    font-size: 16px;
    text-align: left;
    color: #151718;
    bottom: 15px;
    left: 22px;
    position: absolute;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    background-color:#012555;
    padding-left: 16px;
    padding-right: 16px;
  }
  .firstTwoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }

  .firstContainer p {
    cursor: pointer;
    color: #fff;
  }

  .thirdContainer {
    display: flex;
  }


  .secondContainer {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
  }

  .teamDataContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 26vw;
    border-radius: 4px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 8px;
  }

  .teamDataContainer img {
    width: 36%;
    border-radius: 6px;
  }

  .teamDataContainer p {
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }

  .des {
    font-family: sans-serif;
    font-weight: bold;
  }

  .bannerContainer {
    margin-top:6px;
  }

  .batchProfile {
    background-color: #012555;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
  }

  .batch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    /* border: 2px solid #ddd; */
  }

  .batch h3 {
    margin-left: 6px;
    color: #fff;
  }

  .bannerFirst .imgg {
    width: 100%;
    height: 60vh;
    opacity: 100;
    border-radius: 2px;
  }

  .thirdContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: #012555;
  }

  .singleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    border-radius: 4px;
    /* padding: 10px 10px 20px 10px; */
    padding: 6px;
    background-color: lightgray;
    color: #e6e6e6;
    margin: 8px;
    border: 2px solid #fff;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  }

  .icon {
    margin-top: 3px;
    width: 90%;
    border-radius: 4px;
  }

  .imgdiv {}

  .userImg {
    width: 15vw;
    height: 15vw;
    border-radius: 6%;
  }

  .name {
    margin: 4px;
    font-size: 16px;
    color: #fff;
  }

  .singleContainer .icon {
    width: 4vw;
    /* border-radius: 28%; */
  }

  .departContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    /* background-color: #d9d4d1; */
    background-color: #fff;
  }

  .dpHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #d9d4d1; */
    background-color: #fff;
  }

  .dpHeader :hover {
    text-decoration: underline;
    border-radius: 6px;
  }

  .named {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding: 6px;
  }

  .depContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:21vw; */
    width: 25vw;
    background-color: #fff;
    box-shadow: 10px 10px #ddd;
    border-radius: 4px;
    padding: 36px 0px 10px 0px;
    margin-bottom: 20px;
    margin: 8px;
    border: 2px solid #012555;
  }

  .depContainer img {
    width: 42%;
    border-radius: 8px;
  }

  .heading {
    font-size: 20px;
    color: #fff;
    margin-top: 8px;
    font-weight: bold;
  }
  /*  FORGOT PASSWORD */
  .forgotMsgContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .forgotMSG{
    font-size: 12px;
    /* color: #012555; */
    color: #0066c0;
    margin: 0px;
  }
  
  .forgotMSG:hover{
     color: rgb(255, 81, 0);
     text-decoration: underline;
  }

}


@media only screen and (max-width: 600px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .main {
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-attachment: local;
    padding-bottom: 20vh;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  .loader{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    }
  .loadImg {
    animation: rotate 1s linear infinite;
    width:28%;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .imgContainer img {
    width: 90%;
    border-radius: 8px;
    height: 66vh;
  }

  .headText {
    color: white;
    padding-top: 15vw;
    font-family: "CircularStd-Bold";
    font-size: 46px;
    text-align: left;
    padding-left: 2vw;
  }

  .rectangleForm {
    background-color: #fff;
    padding: 12px 30px;
    display: flex;
    flex-direction: column;
    width: 64%;
    height: 70%;
    margin: 34px;
    border-radius: 8px;
    box-shadow: 10px 10px grey;
    border: 2px solid #e6e6e6;
  }

  .enquiryText h2 {
    font-family: "CircularStd-Bold";
    font-size: 28px;
    text-align: left;
    color: #151718;
    white-space: nowrap;
    font-family: sans-serif;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .form {
    font-family: "CircularStd-Book";
    text-align: left;
    line-height: 1.2;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
  }

  .formGroup label {
    text-align: left;
    font-size: 16px;
    color: #151718;
    font-family: sans-serif;
  }

  .formGroup input::placeholder {
    font-family: sans-serif;
    padding-left: 10px;
  }

  .inputBox {
    margin-top: 4px;
    border: none;
    width: 100%;
    line-height: 2.4;
    outline: none;
    background-color: #ddd;
    box-shadow: none !important;
    padding: 0% !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    border-radius: 4px;
    border: 1px solid black;
  }

  ::placeholder {
    font-family: "CircularStd-Bold";
    font-size: 1sans-serif4px;
    text-align: left;
    color: #878787;
  }

  .requestCallButton {
    text-align: center;
  }

  .requestCallButton button {
    margin-top: 20px;
    padding: 1vh 5vh;
    background-color: #5a79f5;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
    border: 2px solid #fff;
  }

  .isInValid {
    border-bottom: 2px solid #e32228 !important;
  }

  .salesFanImg {
    width: 100%;
    position: relative;
  }

  .salesFanImg img {
    object-fit: contain;
    width: 100%;
  }

  .salesFanImg p {
    font-family: "CircularStd-Bold";
    font-size: 32px;
    line-height: 1.36;
    text-align: left;
    color: #fff;
    padding-left: 10vh;
    position: absolute;
    bottom: 10px;
    margin-bottom: 2vw;
  }

  .salesEnquiryProductContainer {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    padding: 2px;
    width: 100%;
    justify-content: space-evenly;
    padding: 0vh 8vh;
  }

  .energyEfficiencyImg {
    width: 16% !important;
    position: absolute;
    top: 2vw;
    left: 6vw;
  }

  .salesEnquiryProductImgContainer {
    position: relative;
    width: 40%;
  }

  .productImg img {
    width: 50%;
  }

  .productImg {
    width: 97%;
    padding: 32px 12px 24px 10px;
    background-color: #fff;
    align-items: center;
  }

  .viewAllMainContainer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .viewAllContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vh;
    padding-top: 8px;
  }

  .viewAllContainer p {
    color: #397ef5;
    font-family: CircularStd-Book;
    font-size: 18px;
    text-decoration: underline;
  }

  .viewAllContainer img {
    padding-left: 4px;
    height: 20px;
  }

  .orderDescriptionContainer {
    display: flex;
    flex-direction: column;
    background-color: #fde3ff;
    margin-top: 2vw;
    padding: 4vw 6px;
    align-items: center;
  }

  .orderHeadText {
    color: #151617;
    font-family: "CircularStd-Bold";
    font-size: 32px;
    line-height: 1.31;
    text-align: left;
    padding-left: 4vh;
  }

  .orderDescriptionText {
    font-family: "CircularStd-Book";
    font-size: 22px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #151718;
    padding: 3vw 6vw;
  }

  .imgProductName {
    text-align: left;
    font-family: "CircularStd-Bold";
    font-size: 16px;
    text-align: left;
    color: #151718;
    bottom: 15px;
    left: 22px;
    position: absolute;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    background-color: #151718;
    padding-left: 16px;
    padding-right: 16px;
  }

  .firstContainer p {
    cursor: pointer;
    color: #fff;
  }

  .thirdContainer {
    display: flex;
  }

  .modalContainer {}

  .secondContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .teamDataContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* width: 36vw; */
    width: 35vw;
    border-radius: 4px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 8px;
    height: 30vw;
  }

  .teamDataContainer img {
    width: 36%;
    border-radius: 6px;
  }

  .teamDataContainer p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
  }

  .des {
    font-family: sans-serif;
    font-weight: bold;
  }

  .bannerContainer {
    margin-top:10px;
    display: flex;
  }

  .batchProfile {
    background-color: #012555;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
  }

  .batch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .batch h3 {
    margin-left: 6px;
    color: #fff;
  }

  .bannerFirst .imgg {
    width: 100%;
    height: 60vh;
    opacity: 100;
    border-radius: 2px;
  }

  .thirdContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: #012555;
  }

  .singleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border-radius: 4px;
    padding: 12px 10px 2px 10px;
    background-color: lightgray;
    color: #e6e6e6;
    border: 1px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      margin-top: 6px; 
  }

  .icon {
    margin-top: 3px;
    width: 90%;
    border-radius: 4px;
  }

  .imgdiv {}

  .userImg {
    width: 26vw;
    height: 22vw;
    border-radius: 6px;
    object-fit: cover;
  }

  .name {
    margin: 4px;
    font-size: 12px;
    color: #fff;
  }

  .singleContainer .icon {
    width: 18%;
    border-radius: 28%;
  }

  .departContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: #d9d4d1;
  }

  .dpHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d9d4d1;
  }

  .dpHeader :hover {
    text-decoration: underline;
    border-radius: 6px;
  }

  .named {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    padding: 6px;
  }

  .depContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:21vw; */
    width: 29vw;
    background-color: #fff;
    box-shadow: 10px 10px gray;
    border-radius: 4px;
    padding: 36px 0px 10px 0px;
    margin-bottom: 20px;
    margin: 8px;
    height: 20vw;
  }

  .depContainer img {
    width: 42%;
    border-radius: 8px;
  }

  .heading {
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
    font-weight: bold;
  }

  /*  FORGOT PASSWORD */
  .forgotMsgContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
  }
  .forgotMSG{
    font-size: 12px;
    color: #012555;
    margin: 0px;
  }
  
}