@media only screen and (min-width: 600px) {
  .croneCtn {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 16px;
    font-family: sans-serif;
  }

  .click {
    cursor: pointer;
  }

  .inputArea {
    outline: none;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
  }

  .done {
    margin: 4px;
    text-align: center;
    border-radius: 2px;
  }

  .done button {
    background-color: #e43530;
    width: 10%;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .croneCtn {
    display: flex;
    flex-direction: column;
  }

  .heading {
    font-size: 16px;
    font-family: sans-serif;
  }

  .click {
    cursor: pointer;
  }

  .inputArea {
    outline: none;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
  }

  .done {
    margin: 4px;
    text-align: center;
    border-radius: 2px;
  }

  .done button {
    background-color: #e43530;
    width: 16%;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}
