@media only screen and (min-width: 600px) {
  .mainCommunity {
    align-items: center;
    margin: 8px 6vw;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    background-color: #012555;
  }

  .communityCtn {
    display: flex;
    flex-direction: column;
    background-color: #e91e62;
    width: 90%;
    border-radius: 8px;
    /* padding: 6px 5vw 12px; */
    padding: 30px 6vw 40px;
  }

  .firstCtn {
    display: flex;
    text-align: left;
  }

  .cmtMsg {
    font-family: sans-serif;
    font: size 22px;
    color: #fff;
    width: 70%;
  }

  .joinBtn {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    width: 20vw;
    border-radius: 8px;
  }

  .joinMsg {
    font-size: 16px;
    color: #e91e62;
    font-family: Satoshi, sans-serif;
    margin: 0px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .mainCommunity {
    align-items: center;
    margin: 8px 6vw;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: #012555;
  }

  .communityCtn {
    display: flex;
    flex-direction: column;
    background-color: #e91e62;
    width: 90%;
    border-radius: 8px;
    /* padding: 6px 5vw 12px; */
    padding: 12px 8vw 15px;
  }

  .firstCtn {
    display: flex;
    text-align: left;
  }

  .cmtMsg {
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    width: 70%;
  }

  .joinBtn {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    width: 42vw;
    border-radius: 8px;
  }

  .joinMsg {
    font-size: 16px;
    color: #e91e62;
    font-family: Satoshi, sans-serif;
    margin: 0px;
    padding: 10px;
  }
}
