@media only screen and (min-width: 600px) {
  .annualMain {
    display: flex;
    flex-direction: column;
  }
  .festHeading {
    font-size: 20px;
    font-family: sans-serif;
    color: #012555;
  }
  .videoCtn {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  .videoCtn::-webkit-scrollbar {
    display: none;
  }
  .videoPlay {
    margin: 4px;
    width: 50%;
    border-radius: 6px;
  }
  .videoImg {
    width: 60%;
    height: 40%;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .annualMain {
    display: flex;
    flex-direction: column;
  }
  .festHeading {
    font-size: 16px;
    font-family: sans-serif;
    color: #012555;
  }
  .videoCtn {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
  }

  .videoPlay {
    margin: 4px;
    width: 80%;
    border-radius: 6px;
  }
  .videoImg {
    width: 60%;
    height: 40%;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}
