@media only screen and (min-width: 600px) {
  .mainCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .joinBtn {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .mainCtn {
    display: flex;
    flex-direction: column;
  }

  .joinBtn {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
    margin: 16px;
  }
}
