@media only screen and (min-width: 600px) {
  .culterMain {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .singleCulter {
    margin-top: 8px;
  }
  .culterImg {
    width: 40%;
    margin: 4px;
    border-radius: 6px;
  }
}
