@media only screen and (min-width:600px) {

    .first {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .firstBannerContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .firstContainer {
        width: 100%;
    }

    .secondContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .heading {
        color: #fff;
        font-size: 40px;
        font-weight: 1200;
        margin: 0px;
    }

    .backgroundImg {
        width: 100%;
        height: 86vh
    }

    .text {
        color: #fff;
        font-size: 24px;
        margin-top: 8px;
        font-weight: 600;
    }

    .awardMessage {
        margin-top: 2px;
        color: #fff;
        font-size: 18px;
    }

    .userName {
        font-size: 52px;
        font-family: cursive;
        color: #fff;
        margin-top: 6px;
        margin: 0px;
    }

    .complement {

        margin-top: 6px;
        font-size: 20px;
        color: #fff;
    }

}