@media only screen and (min-width: 600px) {
  .MainCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .form {
    font-family: "CircularStd-Book";
    text-align: left;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border: 2px solid #e6e6e6;
    margin: 100px;
    border-radius: 8px;
    box-shadow: 10px 10px grey;
    padding: 12px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 30vw;
    padding: 8px;
  }

  .formGroup label {
    text-align: left;
    font-size: 16px;
    color: #151718;
    font-family: sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .inputBox {
    border: none;
    border-bottom: 2px solid #b1b1b1;
    width: 100%;
    line-height: 1.9;
    background-color: white !important;
    box-shadow: none !important;
    padding: 0% !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    outline-color: #00cc9d;
  }

  ::placeholder {
    font-family: "CircularStd-Bold";
    font-size: 14px;
    text-align: left;
    color: #878787;
  }

  .requestCallButton {
    text-align: center;
  }

  .requestCallButton button {
    margin-top: 20px;
    padding: 1vh 4vh;
    /* background-color: #e32228; */
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
  }

  .applyCtn {
  }

  .apply {
    margin-top: 18px;
    padding: 1vh 4vh;
    background-color: #00cc9d;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
  }

  ::placeholder {
    color: #9f9999;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .message {
    font-size: 20px;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 440px;
    background: #fff;
    border: 2px solid #d7d7d7;
    box-shadow: 5px 9px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 8px;
    padding: 20px;
  }

  .ptext {
    margin: 10px;
    font-size: 16px;
  }

  .back {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
  }
  .joinBtn {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #012555;
    width: 20vw;
    border-radius: 8px;
  }

  .joinMsg {
    font-size: 16px;
    color: #fff;
    font-family: Satoshi, sans-serif;
    margin: 0px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .MainCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .form {
    font-family: "CircularStd-Book";
    text-align: left;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    width: 76%;
    align-items: center;
    border: 2px solid #e6e6e6;
    margin: 100px;
    border-radius: 8px;
    box-shadow: 10px 10px grey;
    padding: 12px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 50vw;
  }

  .formGroup label {
    text-align: left;
    font-size: 16px;
    color: #151718;
    font-family: sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .inputBox {
    margin-top: 2vh;
    border: none;
    border-bottom: 2px solid #b1b1b1;
    width: 100%;
    line-height: 1.9;
    background-color: white !important;
    box-shadow: none !important;
    padding: 0% !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    outline: none;
  }

  ::placeholder {
    font-family: "CircularStd-Bold";
    font-size: 14px;
    text-align: left;
    color: #878787;
  }

  .requestCallButton {
    text-align: center;
  }

  .requestCallButton button {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
  }

  .apply {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #fd9e69;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
  }

  ::placeholder {
    color: #9f9999;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .message {
    font-size: 20px;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 300px;
    background: #fff;
    border: 2px solid #d7d7d7;
    box-shadow: 5px 9px 40px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin: 8px;
    padding: 10px;
  }

  .ptext {
    margin: 10px;
    font-size: 16px;
  }

  .back {
    margin-top: 20px;
    padding: 1vh 4vh;
    background-color: #5a79f5;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
  }

  .joinBtn {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #012555;
    width: 42vw;
    border-radius: 8px;
  }

  .joinMsg {
    font-size: 16px;
    color: #fff;
    font-family: Satoshi, sans-serif;
    margin: 0px;
    padding: 10px;
  }
}
